<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zimmy Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
    rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div class="header">Zimmy Travel Applications</div>
        <div class="subHeader">Where is your next destination!</div>
      
      <div class="main">
          <form>
            <div class="box">
                <label for="place">Destination:</label>&NonBreakingSpace;
                <input type="text" id="place" placeholder="Enter place">
            </div>
            <div class="box depart">
                <label for="departDate">Departing:</label>&NonBreakingSpace;
                <input type="text" id="departDate" placeholder="mm/dd/yyyy">
            </div>
            <div class="buttonSq">
                <button id="save" type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"> Save Trip </button>
                <button id="remove" type="reset"> Remove Trip </button>
            </div>
        </form>
        <div id="result">
          <div id="placeImage"></div>
          <div id="placeDetail" class="result"></div> 
          <div id="weather" class="result"></div>
          <div id="location-header" class="resultS"></div>
          <div id="temp" class="resultS"></div>
          <div id="maxTemp" class="resultS"></div>
          <div id="minTemp" class="resultS"></div>
          <div id="details" class="resultS"></div>
        </div>
      </div>
    </div>
    <div>  
    <footer>
          <p>Copyright &copy; 2020 by ZimmyDev</p>
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  </body>
</html>