form {
  font-size: 15px;
  padding: 50px;
  padding-top: 80px;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  height: 43px;
  line-height: 43px;
  color: white;
  background-color: rgb(255, 72, 0);
  width: 100px;
  min-width: 76px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  min-width: 100px;
  font-size: 15px;
  height: 40px;
  width: 250px;
  background: #f0fafa;
  font-family: sans-serif;
  border-style: solid;
  border-width: thin;
  border-color: rgb(255, 0, 0);
  display: inline-block;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.buttonSq {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  font-size: 15px;
  margin-top: 50px;
  margin-left: 10px;
  width: 170px;
  height: 43px;
  min-width: 76px;
  background-color: rgb(255, 72, 0);
  font-family: sans-serif;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  &:hover {
    background-color: #252930;
    border-style: solid;
    border-width: thin;
    border-color: rgb(129, 162, 194);
  }
}

@media (max-width: 1000px) {
  form {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}
